:root {
  --color-primary: #4D5AE5;
  --color-primary-pressed: #404BBF;

  --color-text-dark: #434455;
  --color-text-main: #2E2F42;
  --color-text-muted: #8E8F99;

  --color-bg-light: #F4F4FD;
  --color-bg-gray-rgb: 46, 47, 66;

  --color-white: #FFFFFF;
  --color-error: #e74c3c;

  --color-accent: #E7E9FC;
  --color-success: #31D0AA;
  --color-modal: #FCFCFC;
  --color-overlay: rgba(46, 47, 66, 0.4);

  --transition-duration: 0.2s;

  --container-width: 1128px;
  --container-padding-x: 156px;
}